<ion-view>

     	 <ion-content>
      <div id="challenge-header" class="item item-divider">
       Challenges
        <button class="button button-small button-studs" ng-click="toggle()">{{ buttonText }}</button>
      </div>
        <div class="list" ng-show="showing">
          <div ng-repeat="item in previousChallenges | orderBy:'date' track by $index" class="list card" >
            <a ui-sref="app.challengeInfo({challengeInfo: $index})">
              <div class="item old-item" id="{{item._id.$oid}}">
                <div id="start-header">
                  <h2>{{ item.title }}</h2>
                  <p> {{ item.date | date: 'EEE d MMM,  y H:mm' }} </p>
                </div>
                  <p>{{ item.description }}</p>
              </div>
            </a>
          </div>
      </div>

      <div class="list">

        <div ng-repeat="item in comingChallenges | orderBy:'date' track by $index" class="list card" >
          <a ui-sref="app.challengeInfo({challengeInfo: $index + previousChallenges.length})">
            <div class="item" id="{{item._id.$oid}}">
              <div id="start-header">
                <h2>{{ item.title }}</h2>
                <p> {{ item.date | date: 'EEE d MMM,  y H:mm' }} </p>
              </div>
                <p>{{ item.description }}</p>
            </div>
          </a>
        </div>
      </div>

    </ion-content>

</ion-view>
