<ion-view title="Challenges">
    <ion-content>
     	<pre>{{ status }}</pre>
        <div class="list card" >
        	  <div class="row" id="start-header">
                <h2>Challenge #1</h2>
              </div>
              <button class="button button-small button-studs" ui-sref="app.challenge_info({challenge_info: $index})"> next page</button>
        </div>
        <div class="list card" >
        	  <div class="row" id="start-header">
                <h2>Challenge #2</h2>
              </div>
        </div>
        <div class="list card" >
        	  <div class="row" id="start-header">
                <h2>Challenge #3</h2>
              </div>
        </div>
        <div class="list card" >
        	  <div class="row" id="start-header">
                <h2>Challenge #4</h2>
              </div>
        </div>
        <div class="list card" >
        	  <div class="row" id="start-header">
                <h2>Challenge #5</h2>
              </div>
        </div>
          
            
    </ion-content>
</ion-view>

