<ion-view title="ChallengesInfo">
  <ion-content>
    <div id="challenge-div">
      <div id="start-header">
        <h2>{{ specificChallenge.title }}</h2>
      </div>
      <img id="image" src="{{specificChallenge.img}}"/>
      <p id="body">
        {{ specificChallenge.description }}
      </p>
      <button class="button button-small button-studs" ng-click="newUpload('gallery')"> Upload </button>
      <button class="button button-small button-studs" ng-click="newUpload('camera')"> Take Picture </button>
      <div id="challengesGallery">
        <h3>Submissions</h3>
        <div ng-repeat="post in challengeContributions" class="subPost" >
          <img ng-src="{{ post.link }}">
          <sub>{{ post.description }}</sub>
          <span ng-repeat="stud in post.participants"> {{ stud }} </span>
        </div>
      </div>
    </div>
    <div id="imgUploader" hidden>
      <form class="challengeSubmission">
        <label>Description:</label>
        <input type="text" id="challengeDescription">
        <div class="container">
          <div ng-repeat="stud in studsList | orderBy">
            <div class="col-xs-3 studsBox">
            <input ng-click="imgClick( stud )" type="checkbox" id="{{ stud }}" hidden>
            <label for="{{ stud }}"><img id="{{ stud }}-img" ng-src="img/{{stud}}.jpg">
            </img></label>
            </div>
          </div>
          <button class="button button-small button-studs" ng-click="submitUpload()"> Submit </button>
          <p id="androidConsole"> {{ imgurresponse }} </p>

        </form>
      </div>
  </ion-content>
</ion-view>
