<ion-view title="Challenges">
   
     	 <ion-content>
      <div id="challenge-header" class="item item-divider">
       Challenge
        <button class="button button-small button-studs" ng-click="toggle()">{{ buttonText }}</button>
      </div>
        <div class="list" ng-show="showing">
          <div ng-repeat="item in previousChallenges | orderBy:'date' track by $index" class="list card" >
            <div class="item" id="{{item._id.$oid}}">
              <div class="row" id="start-header">
                <h2>{{ item.title }}</h2>
                <p> {{ item.date | date: 'EEE d MMM,  y H:mm' }} </p>
              </div>
                <p>{{ item.description }}</p>
                <button class="button button-small button-studs" ui-sref="app.challengeInfo({challengeInfo: $index})">More Info</button>
            </div>
          </div>
      </div>

      <div class="list">

        <div ng-repeat="item in comingChallenges | orderBy:'date' track by $index" class="list card" >
          <div class="item" id="{{item._id.$oid}}">
            <div class="row" id="start-header">
              <h2>{{ item.title }}</h2>
              <p> {{ item.date | date: 'EEE d MMM,  y H:mm' }} </p>
            </div>
              <p>{{ item.description }}</p>
              <button class="button button-small button-studs" ui-sref="app.challengeInfo({challengeInfo: $index + previousChallenges.length})">More Info</button>
          </div>
        </div>
      </div>

    </ion-content>
            
</ion-view>

