<ion-view title="Challenges_upload">
    <ion-content>
        <div class="list" >
            <div class="row" id="start-header">
              <h2 id="title">Challenge #1</h2>
              <!-- nedan ska bilden laddas upp -->
              <img id="image" src="url" alt="Alt Text" />
                <p id="body">
                    User gives a short description of the uploaded image
                </p>
                                
              </div>
         
        </div>
          
            
    </ion-content>
</ion-view>

