<ion-view>
  <ion-content>
    <div id="information">
      <h2>Snuttefilt</h2>
      <div class="list card">
        <h3>Telefonnummer</h3>
        <pre>
Emergency Number 911
Ambassaden Washington DC: +1 202 467 2600
Konsulat i New York: +1 212 888 3000
Konsulat i San Francisco: +1 415 788 2631
        </pre>
      </div>
      <div class="list card">
        <h3>Grupp Baes</h3>
        <pre>
lol, baes

babe

boo
        </pre>
      </div>
      <div class="list card" id="by">
        <h3>Brought to you</h3>
        <p>
          The baes of studs
        </p>
        <img src="img/background.jpg"/>
      </div>
    </div>
  </ion-content>
</ion-view>
