<ion-view>
  <ion-content>
    <div id="information">
      <h2>Snuttefilt</h2>
      <div class="list card">
        <h3>Telefonnummer</h3>
        <pre>
Emergency Number: 911
Ambassaden Washington DC: +1 202 467 2600
Konsulat i New York: +1 212 888 3000
Konsulat i San Francisco: +1 415 788 2631
        </pre>
      </div>
      <div class="list card">
        <h3>Banknummer (spärra kort)</h3>
        <pre>
  Swedbank: +46 8-411 10 11
  SEB: +46 8 14 72 00
  Nordea: +46 8 402 57 10
  Handelsbanken: +46 8 41 12 122
  ICA: +46 33 47 47 90
        </pre>
      </div>
      <div class="list card">
        <h3>Hotell (Hostel B&B)</h3>
        <pre>
  The Renwick, 118 East 40th Street, Murray Hill, New York City, NY 10016

  HI Boston, 19 Stuart Street, Theatre District, Boston, MA 02116

  AAE Loyal Inn, 2301 8th Ave, Seattle, WA 98121

  1906 Mission, 1906 Mission Street San Francisco, CA 94103
        </pre>
      </div>
      <div class="list card">
        <h3>Grupp Baes</h3>
        <pre>
Grupp Bae-Q
Anna, Aroshine, Brian, Axel,
Eric, Bjorn, Elin

Grupp Yo-he
Denise, Dina, Johan, Emelie,
Happy, Jenny, Jocke

G(rupp) Nistor
Marcus, Emilio, David, Victor,
Nisse, Petriina, Rasmus

Grupp Winter
Rebecca, Sebastian, Fredrik, Per,
Alexander, William, Katja
        </pre>
      </div>
      <div class="list card" id="by">
        <h3>Brought to you</h3>
        <p>
          The baes of studs
        </p>
        <img ng-src="img/background.jpg"/>
      </div>
    </div>
  </ion-content>
</ion-view>
