<ion-view>
    <!-- Add a header button -->
    <ion-nav-buttons side="primary">
        <button class="button button-icon icon ion-trophy" ui-sref="app.challenges">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-information-circled" ui-sref="app.information">
        </button>
    </ion-nav-buttons>
    <ion-content>
      <div id="schedule-header" class="item item-divider">
        Schedule 
        <button class="button button-small button-studs" ng-click="toggle()">{{ buttonText }}</button>
      </div>
        <div class="list" ng-show="showing">
          <div ng-repeat="item in previousEvents | orderBy:'date' track by $index" class="list card" >
            <div class="item" id="{{item._id.$oid}}">
              <div class="row" id="start-header">
                <h2>{{ item.title }}</h2>
                <p> {{ item.date | date: 'EEE d MMM,  y H:mm' }} </p>
              </div>
                <p>{{ item.description }}</p>
                <button class="button button-small button-studs" ui-sref="app.scheduledEvent({scheduledEvent: $index})">More Info</button>
            </div>
          </div>
      </div>

      <div class="list">

        <div ng-repeat="item in comingEvents | orderBy:'date' track by $index" class="list card" >
          <div class="item" id="{{item._id.$oid}}">
            <div class="row" id="start-header">
              <h2>{{ item.title }}</h2>
              <p> {{ item.date | date: 'EEE d MMM,  y H:mm' }} </p>
            </div>
              <p>{{ item.description }}</p>
              <button class="button button-small button-studs" ui-sref="app.scheduledEvent({scheduledEvent: $index})">More Info</button>
          </div>
        </div>
      </div>

    </ion-content>
</ion-view>
