#challenge-header
    display: flex
    justify-content: space-between

.studsBox img
    width: 100%
    border-radius: 500px

.studsBox input
    img
      border: 2px solid $button-studs-active-border

input[type=text]
    width: 100%
    height: 200px
    padding: 12px 20px
    margin: 8px 0
    display: inline-block
    border: 1px solid #ccc
    border-radius: 4px
    box-sizing: border-box


